.card-3d { /* Clase ajustada a card-3d */
  width: 250px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: grab; /* Cambiamos el cursor para indicar que se puede "agarrar" y mover */
  user-select: none; /* Evita la selección de texto al arrastrar */
}

.card-3d:active { /* Estilo al hacer click y arrastrar */
  cursor: grabbing; /* Cursor diferente durante el arrastre */
}


.card-3d:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 20px rgba(0,0,0,0.7);
}

.card-content-3d { /* Clase ajustada a card-content-3d */
  padding: 20px;
  color: #fff;
  text-align: center;
  font-family: 'monospace', monospace;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
}

.card-content-3d p {
  font-size: 1.2em;
  line-height: 1.5em;
}